body {
  /* Location of the image */
  background-image: url(/images/profilePage_1920.png);
  /* Background image is centered vertically and horizontally at all times */
  background-position: center center;
  /* Background image doesn't tile */
  background-repeat: no-repeat;
  /* Background image is fixed in the viewport so that it doesn't move when 
         the content's height is greater than the image's height */
  background-attachment: fixed;
  /* This is what makes the background image rescale based
         on the container's size */
  background-size: cover;
  /* Set a background color that will be displayed
         while the background image is loading */
  background-color: #464646;
}

h1 {
    color: black;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: auto;
  text-align: center;
  background-color: whitesmoke;
}

.title {
  color: grey;
  font-size: 18px;
}

button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

a {
  text-decoration: none;
  font-size: 22px;
  color: black;
}

button:hover,
a:hover {
  opacity: 0.7;
}

#search_icon {
  color:silver;
  font-size: 22px;
  margin-top: 16px;
}

#icon_facebook {
    color: #1877f2;
}

#icon_linkedin {
    color: #0a66c2;
}

#icon_twitter {
    color: #1da1f2;
}

#icon_globe {
    color: #2b90d9;
}